<h2>Stupid Coaching</h2>

<blockquote>
<p><strong>You:</strong></p>
<p><%= @question %></p>
</blockquote>

<blockquote>
<p><strong>The Stupid Coach:</strong></p>
<p><%= @answer %></p>
</blockquote>

<%= link_to "Ask new question?", ask_path %>
